body {
  width: 850px;
  margin: 0 auto;
  background: lightgray;
  border-radius: 20px;
  border: 2px solid rgb(199, 198, 198);
 
  font-family: "IBM Plex Sans", sans-serif;
}

li {
  list-style: none;
  font-size: 14pt;
  display: block;
}

button {
  font-size: 12pt;
}

.btns {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.headText {
  position: absolute;
  bottom: 0;
  float: left;
  margin-left: 200px;
}
.footList {
  position: relative;
  column-count: 5;
  left: 160px;
  float: left;
}
header {
  background-color: darkgoldenrod;
  color: white;
  height: 300px;
  position: relative;
}
footer {
  width: 850px;
  background: white;
}

.clear {
  clear: both;
}

.pic {
  border: 1px solid rgb(141, 110, 42);
  background-color: darkkhaki;
  height: 125pt;
  width: 125pt;
  position: absolute;
  left: 15px;
  bottom: -40px;
  z-index: 1;
}
.like {
  margin-right: 0.4em;
}

h2 {
  font-weight: 100;
}
.icon {
  width: 1em;
}
