a {
margin: 0 auto;
  text-decoration: none;
  color: rgb(93, 30, 124);
}

body {
  width: 850px;
  margin: 25px auto;
  margin-bottom: 10px;
  margin-top: 10px;

  background: lightgray;
  border-radius: 20px;
  border-bottom: none;
  font-family: "IBM Plex Sans", sans-serif;
}
em{
  font-weight: bold;
  font-style: unset;
  color: rgb(93, 30, 124);
}


button {
  font-size: 12pt;
}

header {
  background-color: rgba(134, 51, 109, 0.8);

  color: white;
  height: 300px;
  border: 1px solid rgb(199, 198, 198);
  position: relative;
}
h2 {
  font-weight: 100;
  margin-bottom: 2em;
  font-size: 1em;
}
h3 {
  margin: 10pt;
  font-weight: 800;
}

li {
  list-style: none;
  font-size: 14pt;
  display: block;
}
main {
  margin-top: 10px;
}

td {
  position: relative;
}
.bar {
  margin: 10pt;
  float: left;
  margin-top: 10pt;
}

.bar2 {
  margin: 0;
  float: left;
  margin-top: 7pt;
  
}

.bar3 {
  margin: 2pt;
  float: left;
  margin-top: 10pt;
}

.boxText {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  margin-top: 0;
  color: purple;
}
.boxTitle{
 
    margin-left: 10px;
    margin-bottom: 0;
    color: slategray;
  
}
.bottomInfoBoxLeft {
  height: 0;
  border-: 1px solid gray;
  margin-top: 10em;
}

.btns {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.clear {
  margin: 10px;
  clear: both;
}


.coverContent{

  margin: 0;

}  


.dotIcon {
  width: .3em;
  opacity: .6;
  
}


.greyLine {
  height: 0;
  border: 1px solid lightgray;
  margin-top: 2.8em;
}
.foot {
  width: 850px;
  background: white;
  border-bottom: solid rgb(199, 198, 198);
}
.footList {
  position: relative;
  column-count: 5;
  left: 200px;
  float: left;
}


.headText {
  position: absolute;
  bottom: 0;
  float: left;
  margin-left: 200px;
}
.icon {
  width: 1em;
  margin-bottom: -.2em
}



.pic {
  border: 1px solid rgba(56, 51, 43, 0.4);
  background-color: darkkhaki;
  height: 125pt;
  width: 125pt;
  position: absolute;
  left: 15px;
  bottom: -40px;
  z-index: 1;
  background-image: URL(Travs.png);
  background-size: cover;
}
.like {
  margin-right: 0.4em;
}





.leftCol {
  width: 324px;
  height: 250px;
  color: black;
  background-color: white;
  border: 2px solid rgb(199, 198, 198);
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.rightCol {
  width: 508px;
  height: 350px;
  color: black;
  background-color: white;
  border: 2px solid rgb(199, 198, 198);
  float: right;
  margin-bottom: 10px;
}

.rightContent {
  width: 508px;
  height: 240px;
  color: black;
  background-color: rgba(134, 51, 109, 0.8);
  background-image: url(http://i0.kym-cdn.com/entries/icons/original/000/005/014/MyLittlePony.jpg);
  background-size: cover;
  margin: 10px auto;
  margin-bottom: 0;
}




